
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index">{{ data['recordname'] }}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Care certificate completed</li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl">
        Have they completed the Care Certificate?
      </h1>

      <form id="carecertcompform" class="form" action="index" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="carecertcomp" type="radio" value="apprenticeship">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="carecertcomp" type="radio" value="apprenticeship">
                <label class="govuk-label govuk-radios__label" for="no">
                  No, in progress or partially completed
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="in-progress" name="carecertcomp" type="radio" value="apprenticeship">
                <label class="govuk-label govuk-radios__label" for="in-progress">
                  No
                </label>
              </div>

            </div><!--END GOVUK RADIOS-->
          </fieldset>
        </div><!--END GOVUK FORMGROUP-->
        <button id="submitButton" class="govuk-button">Save and continue</button>
      </form>
      <!-- END OF YOUR CONTENT -->
    </div>
</div>

<!-- Conditional logic for form -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script language="JavaScript">
  // Give your submit button an ID
  $('#submitButton').click(function(event) {

    console.log('Yo');

    event.preventDefault();

    var type = $("#carecertcompform input[name='carecertcomp']:checked").val();

    if (type) {
        $('#carecertcompform').attr('action', type).submit();
    } else {
        return false;
    }
  });
</script>
{% endblock %}
