{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ data['recordname'] }}
      </h1>

      <h2 class="govuk-heading-m">
        About your staff
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Record name
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['vehicle-registration'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-registration">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Main job role
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['vehicle-type'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-type">
              Change <span class="govuk-visually-hidden">vehicle type</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Contract type
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Start date
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            National Insurance number
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Home postcode
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Gender
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Disability
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Ethnicity
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Nationality
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Citizenship
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Country of birth
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Year of arrival
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Employment
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recruited from
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['vehicle-registration'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-registration">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Year started in social care
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['vehicle-type'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-type">
              Change <span class="govuk-visually-hidden">vehicle type</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Sickness
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Zero hours contract
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Average weekly hours
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Hourly rate
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Other pay rates
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Qualifications
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Care certificate
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['vehicle-registration'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-registration">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Apprenticeship
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['vehicle-type'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-type">
              Change <span class="govuk-visually-hidden">vehicle type</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Social care qualification
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Qualification level
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Other qualification
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Other qualification level
          </dt>
          <dd class="app-check-your-answers__answer">

          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/docs/examples/pass-data/vehicle-features">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
      </dl>


    </div>

  </div>

{% endblock %}
