
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index">{{ data['recordname'] }}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Hold other qualifications</li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Qualifications</span>
        Do they hold any other qualifications?
      </h1>

      <form id="holdotherqualform" class="form" action="/ethnicity" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="holdotherqual" type="radio" value="highestotherqual">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="holdotherqual" type="radio" value="index">
                <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="dont-know" name="holdotherqual" type="radio" value="index">
                <label class="govuk-label govuk-radios__label" for="dont-know">
                  Don't know
                </label>
              </div>

            </div><!--END GOVUK RADIOS-->
          </fieldset>
        </div><!--END GOVUK FORMGROUP-->
        <button id="submitButton" class="govuk-button">Save and continue</button>
      </form>
      <!-- END OF YOUR CONTENT -->
    </div>
</div>

<!-- Conditional logic for form -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script language="JavaScript">
  // Give your submit button an ID
  $('#submitButton').click(function(event) {

    console.log('Yo');

    event.preventDefault();

    var type = $("#holdotherqualform input[name='holdotherqual']:checked").val();

    if (type) {
        $('#holdotherqualform').attr('action', type).submit();
    } else {
        return false;
    }
  });
</script>
{% endblock %}
