
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index">{{ data['recordname'] }}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Nationality</li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl">
          What is their nationality?
      </h1>

      <form class="form" id="nationality" action="index" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="agency" name="list" type="radio" value="countryofbirth">
                <label class="govuk-label govuk-radios__label" for="agency">
                  British
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="agency" name="list" type="radio" value="citizenship">
                <label class="govuk-label govuk-radios__label" for="agency">
                  Don't know
                </label>
              </div>
              <div class="govuk-radios govuk-radios--conditional">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="other" name="list" type="radio" value="citizenship" data-aria-controls="conditional-other">
                  <label class="govuk-label govuk-radios__label" for="other">
                    Other nationality
                  </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="othertext">
                      Nationality
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="text">
                  </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button id="submitButton" type="button" class="govuk-button">Save and continue</button>
      </form>
      <!-- END OF YOUR CONTENT -->
    </div>
</div>

<!-- Conditional logic for form -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script language="JavaScript">
  // Give your submit button an ID
  $('#submitButton').click(function(event) {

    console.log('Yo');

    event.preventDefault();

    var type = $("#nationality input[name='list']:checked").val();

    if (type) {
        $('#nationality').attr('action', type).submit();
    } else {
        return false;
    }
  });
</script>

{% endblock %}
