
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index">{{ data['recordname'] }}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Other rates</li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Employment</span>
        What are their other rates of pay?
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Pay type</th>
            <th class="govuk-table__header" scope="col">Hourly rate</th>
            <th class="govuk-table__header" scope="col">Worked in last 7 days</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['pay-type'] }}</td>
            <td class="govuk-table__cell">£{{ data['hourly-rate'] }}</td>
            <td class="govuk-table__cell">{{ data['hours-worked'] }}</td>
            <td class="govuk-table__cell"><a href="editrate" class="govuk-link">Change</a></td>
          </tr>
        </tbody>
      </table>

      <a href="addrate" class="govuk-link">+ Add a new rate</a>
      <p>&nbsp;</p>
      <form action="carecertcomplete" method="post">
        <button class="govuk-button">Save and continue</button>
      </form>
      <!-- END OF YOUR CONTENT -->
    </div>
</div>

{% endblock %}
