
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index">{{ data['recordname'] }}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Postcode</li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl">
        What is their home postcode?
      </h1>

      <form class="form" action="index" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Postcode
          </label>
          <span id="postcode-hint" class="govuk-hint">
            For example, AA10 2BC
          </span>
          <input class="govuk-input govuk-input--width-10" id="name" name="name" type="text">
        </div>

        <button class="govuk-button">Save and continue</button>
      </form>
      <!-- END OF YOUR CONTENT -->
    </div>
</div>

{% endblock %}
