
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Section 3 of 8</span>
        Select your main service
      </h1>

      <p>
        We need some details about where you work. You need to answer these questions before we can create your account.
      </p>

      <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--conditional">

              <h2 class="govuk-heading-s">Adult residential</h2>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-1" name="services" type="radio" value="Sheltered housing">
                <label class="govuk-label govuk-radios__label" for="service-1">
                  Sheltered housing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-2" name="services" type="radio" value="Other adult residential care service">
                <label class="govuk-label govuk-radios__label" for="service-2">
                  Other adult residential care service
                </label>
              </div>

              <h2 class="govuk-heading-s">Adult day</h2>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-3" name="services" type="radio" value="Day care and day services">
                <label class="govuk-label govuk-radios__label" for="service-3">
                  Day care and day services
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-4" name="services" type="radio" value="Other adult day care services">
                <label class="govuk-label govuk-radios__label" for="service-4">
                  Other adult day care services
                </label>
              </div>

              <h2 class="govuk-heading-s">Adult domiciliary</h2>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-5" name="services" type="radio" value="Domestic services and home help">
                <label class="govuk-label govuk-radios__label" for="service-5">
                  Domestic services and home help
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-6" name="services" type="radio" value="Other adult domiciliary care service">
                <label class="govuk-label govuk-radios__label" for="service-6">
                  Other adult domiciliary care service
                </label>
              </div>

              <h2 class="govuk-heading-s">Adult community care</h2>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-7" name="services" type="radio" value="Carers support">
                <label class="govuk-label govuk-radios__label" for="service-7">
                  Carers support
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-8" name="services" type="radio" value="Short breaks/respite care">
                <label class="govuk-label govuk-radios__label" for="service-8">
                  Short breaks/respite care
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-9" name="services" type="radio" value="Community support and outreach">
                <label class="govuk-label govuk-radios__label" for="service-9">
                  Community support and outreach
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-10" name="services" type="radio" value="Social work and care management">
                <label class="govuk-label govuk-radios__label" for="service-10">
                  Social work and care management
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-11" name="services" type="radio" value="Information and advice services">
                <label class="govuk-label govuk-radios__label" for="service-11">
                  Information and advice services
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-12" name="services" type="radio" value="Disability adaptations / assistive technology services">
                <label class="govuk-label govuk-radios__label" for="service-12">
                  Disability adaptations / assistive technology services
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-13" name="services" type="radio" value="Occupational / employment-related services">
                <label class="govuk-label govuk-radios__label" for="service-13">
                  Occupational / employment-related services
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-14" name="services" type="radio" value="Other adult community care service">
                <label class="govuk-label govuk-radios__label" for="service-14">
                  Other adult community care service
                </label>
              </div>

              <h2 class="govuk-heading-s">Other</h2>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-15" name="services" type="radio" value="Other healthcare service">
                <label class="govuk-label govuk-radios__label" for="service-15">
                  Other healthcare service
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-16" name="services" type="radio" value="Head office services">
                <label class="govuk-label govuk-radios__label" for="service-16">
                  Head office services
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-17" name="services" type="radio" value="Any childrens/young people's services">
                <label class="govuk-label govuk-radios__label" for="service-17">
                  Any childrens/young people's services
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="service-18" name="services" type="radio" value="Any other services" data-aria-controls="conditional-how-contacted-conditional-1">
                <label class="govuk-label govuk-radios__label" for="service-18">
                  Any other services
                </label>
              </div>





              <div class="" data-module="radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-1" name="services" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                    Email
                  </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Email address
                    </label>
                    <input class="govuk-input" id="contact-by-email" name="contact-by-email" type="email">
                  </div>
                </div>

              </div>





            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>
      <!-- END OF YOUR CONTENT -->
    </div>
</div>

{% endblock %}
