
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index">Employee name</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Legal status</li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Section 2</span>
          Would you like to tell us about any other rates of pay?
      </h1>

      <form id="tellpayform" class="form" action="/otherrates" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tellpay-1" name="pay" type="radio" value="otherrates">
                <label class="govuk-label govuk-radios__label" for="tellpay-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tellpay-2" name="pay" type="radio" value="carecertcomplete">
                <label class="govuk-label govuk-radios__label" for="tellpay-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button id="submitButton" class="govuk-button">Save & Continue</button>
      </form>
      <!-- END OF YOUR CONTENT -->
    </div>
</div>

<!-- Conditional logic for form -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script language="JavaScript">
  // Give your submit button an ID
  $('#submitButton').click(function(event) {

    console.log('Yo');

    event.preventDefault();

    var type = $("#tellpayform input[name='pay']:checked").val();

    if (type) {
        $('#tellpayform').attr('action', type).submit();
    } else {
        return false;
    }
  });
</script>

{% endblock %}
